<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% if page.description %}{{ page.description }}{% elif section.description%}{{ section.description }}{% else %}{{ config.description }}{% endif %}">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/img/favicon.ico">

    <title>{% if page.title %}{{page.title}} - {% elif section.title %}{{ section.title }} - {% endif %}{{ config.title }}</title>

    <link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/f030d443fe.js" crossorigin="anonymous"></script>

    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <link href="{{ config.base_url | safe }}/css/style.css" rel="stylesheet">

    {% block extracss %}
    {% endblock extracss %}
  </head>

  <body>

      <div class="row top-buffer">
        {% block content %}
        {% endblock content %}
      </div>

      <footer>
        <div class="row top-buffer">
        </div>
        <hr>
        <div class="row">
          <div class="col-md-4">
          </div>
          <div class="col-md-4">
            <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
              <img alt="Creative Commons Licence" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" />
            </a>
            <br/>This work is licensed under a
            <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
              Creative Commons Attribution 4.0 International License
            </a>.
	    <a href="/about/governance/privacy/">Privacy Policy
	    </a>.
          </div>
        </div>
      </footer>
    </div>

    {% block extrajs %}
    {% endblock extrajs %}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/anchor-js@4.2.2/anchor.min.js"
            integrity="sha256-E4RlfxwyJVmkkk0szw7LYJxuPlp6evtPSBDlWHsYYL8="
            crossorigin="anonymous"></script>

    <script>
      anchors.add();

      // https://github.com/twbs/bootstrap/issues/1768#issuecomment-6531466
      var shiftWindow = function() { scrollBy(0, -100) };
      if (location.hash) shiftWindow();
      window.addEventListener("hashchange", shiftWindow);
    </script>

  </body>
</html>